
*{
    box-sizing: border-box;
}
body{
    font-family: "Karla", sans-serif;
    margin: 0;
    padding: 0;
}
main{
    padding: 36px;
}
.header{
    display:flex;
    align-items: center;
    height: 65px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    color: hotpink;
    padding: 20px;
}
.header-image{
    margin-right: 20px;
}
.header-title{
    font-size: 30px;
    margin-right: auto;
}
.header-project{
    font-size: 0.90rem;
    font-weight: 900;
}
.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}
.form-input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border: 1px solid black;
    background-color: hotpink;
    text-indent: 5px;
}
.form-button{
    grid-column: 1/-1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background-color: hotpink;
    color: white;
    border:none;
    cursor: pointer;
}
.meme-image{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
}
.meme-text-top{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    overflow-wrap: anywhere;
}
.meme-text-bottom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,60%); 
    overflow-wrap: anywhere; 
}







